* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}

h3 {
    color: aliceblue;
    text-transform: capitalize;
}

.load {
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

}

.load div {
    width: 25px;
    height: 25px;
    background-color: #f39c12;
    border-radius: 50%;
    margin: 2px;
    animation-name: up-down;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;

}

.load .x2 {
    animation-delay: .2s;
}

.load .x3 {
    animation-delay: .3s;
}

.load .x4 {
    animation-delay: .4s;
}

.load .x5 {
    animation-delay: .5s;
}

.load .x6 {
    animation-delay: .6s;
}

.load .x7 {
    animation-delay: .7s;
}

.load .x8 {
    animation-delay: .8s;
}

.load .x9 {
    animation-delay: .9s;
}

.load .x10 {
    animation-delay: 1s;
}

.load .x11 {
    animation-delay: 1.1s;
}

.load .x12 {
    animation-delay: 1.2s;
}


@keyframes up-down {
    0% {

        transform: translateY(0);
        filter: hue-rotate(0deg);
    }

    100% {

        transform: translateY(-20px);
        filter: hue-rotate(360deg);
    }
}